@{
    ViewData["Title"] = "Product";
}

@model EcomDemo.Web.ProductDetail

 
<h3>@ViewData["Message"]</h3>

 <table>
    <tr>
        <td><strong>Name</strong></td>
        <td>@Model.Name</td>
    </tr>
     <tr>
         <td><strong>Price</strong></td>
         <td>@Model.Price</td>
     </tr>
     <tr>
         <td><strong>Description</strong></td>
         <td>@Model.Description</td>
     </tr>
   
</table>

 <br/><br />
<p>
    <strong>Orders on this Product</strong>
</p>
    @foreach (var order in Model.Orders)
    {
        <table>
            <tr>
                <td> Name:</td>
                <td>@order.OrderId</td>
            </tr>
            <tr>
                <td> Date:</td>
                <td>@order.OrderDate</td>
            </tr>
            <tr>
                <td> Information:</td>
                <td>@order.OrderInfo</td>
            </tr>

        </table>
        <hr />
    }
 

